@using Application.DTO;

@model SettingsDTO
@{
    ViewBag.Title = "Index";
}

<h2>Settings</h2>

<div class="settings">
    <div>
        <span>Title</span>
    </div>
    <div>
        <span>@Model.FollowerSeeFollowers</span>
    </div>
</div>


