/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

img {
    height: 200px;
    object-fit: cover;
}

.cook {
    height: 335px;
}

.navbar-collapse {
    justify-content: space-between;
}

.auth-container {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    align-items: center;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.recipes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.head {
    display: block;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    align-items: center;
    display: flex;
    height: 3rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* Chat containers */
#chat .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 30px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

#chat .sender {
    font-size: 1em;
    font-weight: bold;
}

/* Darker chat container */
#chat .darker {
    border-color: #fff;
    background-color: #007bff;
}

/* Clear floats */
#chat .container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
#chat .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

    /* Style the right image */
    #chat .container img.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
    }

/* Style time text */
#chat .time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
#chat .time-left {
    float: left;
    color: #999;
}

.recipe-details {
    display: flex;
    justify-content: space-around;
}

.actions {
    width: 25rem;
}

.action-btns {
    display: flex;
    justify-content: space-between;
}

.recipe-actions {
    display: flex;
    justify-content: flex-start;
}

.authors {
    display: flex;
    justify-content: space-around;
}