@using Application.DTO;

@model LoginUserDTO
@{
    ViewBag.Title = "Login";
}


<div class="row justify-content-md-center">
    <form asp-action="Login" method="post" id="login-form" class="col-4">
        <h2 class="row justify-content-md-center">Login</h2>

        <div class="form-group">
            <label asp-for="FullName" class="control-label"></label>
            <input asp-for="FullName" class="form-control" />
            @if (Model != null)
            {
                <span asp-for="" class="text-danger">@Model.FullNameError</span>
            }
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" type="password" />
            @if (Model != null)
            {
                <span asp-for="" class="text-danger">@Model.PasswordError</span>
            }
        </div>
        <div class="form-group">
            @if (Model != null)
            {
                <span asp-for="" class="text-danger">@Model.EnterError</span>
            }
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary mt-2" />
        </div>
    </form>
</div>